.App
    .button-wapper
        .spacer
            display: flex
            justify-content: center
            padding: 5px

            .btn
                &.dark,
                &.primary
                    width: 30%

                &.secondary
                    width: 50%
                    position: relative
                    left: -10%

                &.light
                    width: 50%
                    position: relative
                    left: 10%
